<div fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="row" fxLayoutAlign="center center">
    <span class="mat-h2">{{ contractingAuthority?.name }}</span>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="0.5rem"
  >
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="start start">
      <app-label-value label="Actividad principal">
        {{ contractingAuthority?.activity }}
      </app-label-value>
      <app-label-value label="Tipo">
        {{ contractingAuthority?.activityType }}
      </app-label-value>
      <app-label-value label="Dirección">
        {{ contractingAuthority?.address }}
      </app-label-value>
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="start start">
      <app-label-value label="NIF">
        {{ contractingAuthority?.nif }}
      </app-label-value>
      <app-label-value label="Web">
        {{ contractingAuthority?.web }}
      </app-label-value>
      <app-label-value label="Email">
        {{ contractingAuthority?.email }}
      </app-label-value>
    </div>
  </div>
</div>
