<div>
  <span class="mat-h4 mat-body-strong section-title">Adjudicador</span>

  <div fxLayout="column" fxLayoutAlign="start stretch">
    <app-label-value label="Tipo">
      {{ poderAdjudicador?.tipo }}
    </app-label-value>
    <app-label-value label="Actividad principal">
      {{ poderAdjudicador?.actividad }}
    </app-label-value>
    <app-label-value label="Nombre">
      {{ poderAdjudicador?.nombre }}
    </app-label-value>
    <app-label-value label="NIF">
      {{ poderAdjudicador?.nif }}
    </app-label-value>
    <app-label-value label="Web">
      {{ poderAdjudicador?.web }}
    </app-label-value>
    <app-label-value label="Teléfono">
      {{ poderAdjudicador?.telefono }}
    </app-label-value>
    <app-label-value label="Email">
      {{ poderAdjudicador?.email }}
    </app-label-value>
    <app-label-value label="Dirección">
      {{ poderAdjudicador?.direccion }}
    </app-label-value>
  </div>
</div>
