<div>
  <span class="mat-h4 mat-body-strong section-title">Adjudicador</span>

  <div fxLayout="column" fxLayoutAlign="start stretch">
    <app-label-value label="Tipo">
      {{ contractingAuthority?.type }}
    </app-label-value>
    <app-label-value label="Actividad principal">
      {{ contractingAuthority?.activity }}
    </app-label-value>
    <app-label-value label="Nombre">
      {{ contractingAuthority?.name }}
    </app-label-value>
    <app-label-value label="NIF">
      {{ contractingAuthority?.nif }}
    </app-label-value>
    <app-label-value label="Web">
      {{ contractingAuthority?.web }}
    </app-label-value>
    <app-label-value label="Teléfono">
      {{ contractingAuthority?.phone }}
    </app-label-value>
    <app-label-value label="Email">
      {{ contractingAuthority?.email }}
    </app-label-value>
    <app-label-value label="Dirección">
      {{ contractingAuthority?.address }}
    </app-label-value>
  </div>
</div>
