.card-section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;

  .card-section-title {
    color: white;
    background-color: #4fa9fb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15rem;
    width: 15rem;
    min-height: 2rem;
    font-size: 1.3rem;
    padding: 0.5rem;
  }

  .card-section-content {
    background-color: #eeeeee;
    min-height: 10rem;
    padding: 1rem;
  }
}
