<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="5" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="nav" (click)="scrollLeft(carrousel)">navigate_before</mat-icon>
  </div>
  <div class="carrousel" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="1rem" fxFlex="90" #carrousel>
    <div *ngFor="let seller of sellers; index as i" class="card" fxLayout="column" fxLayoutAlign="start start">
      <app-label-value label="Nombre">
        {{ seller.name }}
      </app-label-value>
      <app-label-value label="NIF">
        {{ seller.nif }}
      </app-label-value>
      <app-label-value label="Dirección">
        {{ seller.address }}
      </app-label-value>
      <app-label-value label="Razón">
        {{ offerValues[i]?.text }}
      </app-label-value>
      <app-label-value label="Ingreso">
        {{ offerValues[i]?.value | currency: 'EUR':'symbol':'.2-2' }}
      </app-label-value>
      <app-label-value label="PYME">
        {{ seller.pyme | yesNo }}
      </app-label-value>
    </div>
  </div>
  <div fxFlex="5" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="nav" (click)="scrollRight(carrousel)">navigate_next</mat-icon>
  </div>
</div>
