<div>
  <span class="mat-h4 mat-body-strong section-title">Adjudicatarios</span>
  <div
    *ngFor="let seller of sellers; index as i"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start stetch"
  >
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <app-label-value label="PYME">
        {{ seller.pyme | yesNo }}
      </app-label-value>
      <app-label-value label="Nombre">
        {{ seller.name }}
      </app-label-value>
      <app-label-value label="NIF">
        {{ seller.nif }}
      </app-label-value>
      <app-label-value label="Dirección">
        {{ seller.address }}
      </app-label-value>
      <app-label-value label="Objeto">
        {{ offerValues[i]?.text }}
      </app-label-value>
      <app-label-value label="Coste">
        {{ offerValues[i]?.value | currency: 'EUR':'symbol':'.2-2' }}
      </app-label-value>
    </div>

    <mat-divider style="position: relative"></mat-divider>
  </div>
</div>
