<div fxLayout="column" fxLayoutAlign="start stretch">
  <!-- Header -->
  <app-header></app-header>
  <!-- App content-->
  <div class="app-wrapper" fxLayout="row" fxLayoutAlign="start stretch">
    <app-google-ad fxHide.lt-md fxFlex="10"></app-google-ad>

    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="80">
      <app-date-range fxFlex="10"></app-date-range>
      <router-outlet *ngIf="!isLoading; else isLoadingTemplate"></router-outlet>
    </div>

    <app-google-ad fxHide.lt-md fxFlex="10"></app-google-ad>
  </div>
  <!-- Footer -->
  <app-footer></app-footer>
</div>

<ng-template #isLoadingTemplate>
  <app-loading-overlay></app-loading-overlay>
</ng-template>

<app-scroll-top></app-scroll-top>

<div class="support-btn" fxHide.lt-md>
  <a href="https://www.buymeacoffee.com/franic3" target="_blank">
    <img
      src="https://img.buymeacoffee.com/button-api/?text=Quieres colaborar?&emoji=🍌&slug=franic3&button_colour=79D6B5&font_colour=ffffff&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00"
    />
  </a>
</div>

<div class="support-btn" fxHide.gt-md>
  <a href="https://www.buymeacoffee.com/franic3" target="_blank">
    <img
      src="https://img.buymeacoffee.com/button-api/?text= &emoji=🍌&slug=franic3&button_colour=79D6B5&font_colour=ffffff&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00"
    />
  </a>
</div>
