Este es un proyecto con el objetivo de mostrar más fácilmente resúmenes sobre en
qué se gasta el dinero público el estado, basado en las emisiones del BOE cada
día. Dicha información se extrae específicamente la sección 5-A dónde anuncian
las formalizaciones de los contratos del sector público.
<br />
<br />
En esta web no se guarda ningún dato del usuario visitante, y además se
compromete a cumplir con las reglas de uso de la información pública compartida
en este enlace
<a href="https://www.boe.es/informacion/aviso_legal/index.php" target="_blank"
  >https://www.boe.es/informacion/aviso_legal/index.php</a
>.
<br />
<br />
<pre class="pre-responsive">
  Funcionamiento:
    - Se obtienen las formalizaciones de contratos del boe publicado cada día en formato XML.
    - Dicha información se transforma a JSON y se guarda en una base de datos.
    - Esta web obtiene los resúmenes de la base de datos.
</pre>
