<mat-card>
  <mat-card-header>
    <mat-card-title>
      [{{ contract.metadata.date | date: 'shortDate' }}] -
      {{ contract.content.contractingAuthority.name }}

      <mat-divider [vertical]="true"></mat-divider>

      <span class="error-text">{{
        contract.content.offerValues
          | totalCost
          | currency: 'EUR':'symbol':'.2-2'
      }}</span>
    </mat-card-title>
    <mat-card-subtitle
      testId="porcentaje"
      [ngClass]="{
        'success-text': porcentaje >= 60,
        'error-text': porcentaje < 60
      }"
    >
      {{ porcentaje }} % de información
    </mat-card-subtitle>
  </mat-card-header>
  <!-- Contenido -->
  <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">
    <div
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayout.gt-md="row"
      fxLayoutAlign.gt-md="start stretch"
    >
      <!-- Adjudicador -->
      <app-contracting-authority
        fxFlex.gt-md="50"
        [contractingAuthority]="contract.content.contractingAuthority"
      ></app-contracting-authority>

      <!-- Adjudicatarios y ofertas -->
      <app-sellers-offers
        fxFlex.gt-md="50"
        [sellers]="contract.content.sellers"
        [offerValues]="contract.content.offerValues"
        [offersReceived]="contract.content.offersReceived"
      ></app-sellers-offers>
    </div>

    <!-- Descripciones y detalles -->
    <app-description
      fxFlex
      [descriptions]="contract.content.sellingDescription"
      [details]="contract.content.details"
    ></app-description>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="viewPdf()">
      Ver PDF
    </button>
  </mat-card-actions>
</mat-card>
