<div>
  <span class="mat-h4 mat-body-strong section-title">Adjudicatarios</span>
  <div
    *ngFor="let adjudicatario of adjudicatarios; index as i"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start stetch"
  >
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <app-label-value label="Nombre">
        {{ adjudicatario.nombre }}
      </app-label-value>
      <app-label-value label="NIF">
        {{ adjudicatario.nif }}
      </app-label-value>
      <app-label-value label="Dirección">
        {{ adjudicatario.direccion }}
      </app-label-value>
      <app-label-value label="Objeto">
        {{ valorOferta[i]?.medio }}
      </app-label-value>
      <app-label-value label="Coste">
        {{ valorOferta[i]?.valor | currency: "EUR":"symbol":".2-2" }}
      </app-label-value>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>
