.label {
  font-weight: bold;
  font-size: 1rem;
}

.content {
  font-size: 1rem;
}

// @media screen and (min-width: 60.1em) {
//   .label {
//     font-size: 1rem;
//   }

//   .content {
//     font-size: 1.25rem;
//   }
// }

div {
  margin-top: 0.5rem;
}
