@import './assets/styles/variables/colors';

html,
body {
  height: 100%;
  font-size: 100%;
  background-color: #dce2f5;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.success-text {
  color: $success;
}

.error-text {
  color: $error;
}

.breakable-text {
  word-break: break-all;
}

.section-title {
  background-color: #3f51b5;
  color: white;
  padding: 0.3em;
  border-radius: 5%;
  box-sizing: border-box;
}

.h-100 {
  height: 100% !important;
}

.debug {
  border: 1px solid red;
}
