<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ ad.metadatos.titulo | titulo }}

      <mat-divider [vertical]="true"></mat-divider>

      <span class="error-text">{{
        getTotalSpent() | currency: "EUR":"symbol":".2-2"
      }}</span>
    </mat-card-title>
    <mat-card-subtitle
      testId="porcentaje"
      [ngClass]="{
        'success-text': porcentaje >= 60,
        'error-text': porcentaje < 60
      }"
    >
      {{ porcentaje }} % de información
    </mat-card-subtitle>
  </mat-card-header>
  <!-- Contenido -->
  <mat-card-content fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch">
    <!-- Adjudicador -->
    <app-poder-adjudicador
      [poderAdjudicador]="ad.contenido.poderAdjudicador"
    ></app-poder-adjudicador>

    <!-- Descripciones y detalles -->
    <app-description
      [descriptions]="ad.contenido.descripcionLicitacion"
      [details]="ad.contenido.detalle"
    ></app-description>

    <!-- Adjudicatarios y ofertas -->
    <app-adjudicatarios-ofertas
      [adjudicatarios]="ad.contenido.adjudicatarios"
      [valorOferta]="ad.contenido.valorOferta"
      [ofertasRecibidas]="ad.contenido.ofertasRecibidas"
    ></app-adjudicatarios-ofertas>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="viewPdf()">
      Ver PDF
    </button>
  </mat-card-actions>
</mat-card>
